<%include partials/boilerplate %>
  <div class="form-contain">
  <h1>Entry no. <%= data.id%></h1>
  <h1>You fell asleep at: <%= data.sleep_start%></h1>
  <h1>You spent <%= data.minutes_asleep%> minutes asleep</h1>
  <h1>You woke up <%=data.number_of_awakenings%> times during the night</h1>
  <h1>The temperature was: <%=weather%> &deg F</h1>



<form method="POST" action='/day/<%= data.id %>?_method=PUT'>

  <label>Entry no.<input name='id' type='number' value='<%=data.id%>' placeholder='<%=data.id%>'/></label><br>

  <label>Time you went to bed<input name='sleep_start' type='text' value='<%=data.sleep_start%>' /></label><br>
  <label>Time you woke up<input name='sleep_end' type='text' value='<%=data.sleep_end%>'/></label><br>


<div> <a class='buttons' href="<%=data.id%>/edit"><input type="submit" value="Submit Edit!"></a></div>

</form>

<a class="buttons" href="/all_days/">See all</a>


<form class="buttons" method="POST" action='/day/<%= data.id %>?_method=DELETE'>
  <input type="Submit" value="Delete">
</form>
</div>
<% include partials/end %>

